{{ define "main" }}

  {{- .Content -}}

  {{ range sort .Paginator.Pages }}
  <article class="markdown book-post">
    <header>
      <h2>
        <a href="{{ .Params.link }}">{{ .Title }}</a>
      </h2>
      <div class="post-meta"><h4>{{ .Date.Format "Mon, Jan 2, 2006" }}</h4></div>
    </header>
    <p>
      {{ .Params.description }}
    </p>
    <footer>
      <a href='{{ .Params.link }}'><nobr>Read more →</nobr></a>
    </footer>
  </article>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}
